/* 



*/

:root {
  --light-bg: #f7f0f5;
  --primary-color: #000411;
  --dark-purple: #160c28;
  --light-purple: #6874e8;
  --blue: #5da9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg);
  color: var(--primary-color);
}
